<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" type="../text/css" href="../static/styles.css">
</head>
<body>
    <nav>
        <div class="hamburger-menu">
            <!-- Add your hamburger menu content here, e.g., three horizontal lines -->
        </div>
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/run_app">Run App</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/about_me">About Me</a></li>
        </ul>
    </nav>

    <div class="content">
        <!-- {% block content %} -->
        <h1>Root to YNAB Documentation in Notion</h1>
  <a href="https://www.notion.so/YNAB-Program-Wiki-29dfd9d853494e269dd83cbb6104b63e" target="_self">YNAB Product Wiki</a>
        <!-- {% endblock %} -->
    </div>
</body>
</html>
